<tr id="<%= dom_id essay %>">
  <td>
    <strong>Title:</strong>
    <%= essay.title %>
  </td>

  <td>
    <strong>Length:</strong>
    <%= essay.length %>
  </td>

  <td>
    <strong>User:</strong>
    <%= essay.user_id %>
  </td>

  <td>
    <strong>Points:</strong>
    <%= essay.points %>
  </td>

</tr>
